.hljs-comment, .hljs-quote {
    color:rgb(134, 153, 155)
}

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
    color:rgb(52, 172, 252)
}

.hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params, .hljs-meta, .hljs-link {
    color:rgb(231, 185, 86)
}

.hljs-attribute {
    color:rgb(172, 184, 189)
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color:#4FB4D7
}

.hljs-title, .hljs-section {
    color:#78BB65
}

.hljs-keyword, .hljs-selector-tag {
    color:#B45EA4
}

.hljs {
    display:block;
    background:rgba(28, 29, 33, 0);
    color:#c0c5ce;
    font-weight: lighter;
    font-size: 12px;
    font-family: "Monaco";
    line-height: 20px;
    height: 100%;
    overflow: auto;
    /* white-space: nowrap; */
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}
