:root {
    --tabsHeight: 40px;


    /* BACKGROUND COLORS */ 
    --main-color: rgb(35, 40, 51);
    --main-color-bright: rgb(43, 49, 63);
    --main-color-dark: rgb(29, 33, 43);
    --main-color-darker: rgb(20, 23, 31);

    --ide-width: 70%;
}

@font-face {
    src: url("../fonts/Monaco-Linux.ttf");
    font-family: "Monaco";
}

#darkText, #darkCheck {
    display: inline-block;
}

#ide {
    width: var(--ide-width);
    height: calc(100vh - 60px);
    background-color: var(--main-color-darker);
    resize: horizontal;
    overflow: hidden;
}

.dragger {
    cursor: col-resize;
}

#mainDrag {
    width: 5px;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    left: calc(var(--ide-width) - 5px);
}


.topRow {
    width: 100%;
    background-color: var(--main-color-dark);
    height: var(--tabsHeight);
    display: inline-block;
}

#buttonsRow {
    margin-bottom: 5px;
    height: 70px;
}

.icon {
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    padding-top: 18px;
}

#colsCont {
    display: inline-block;
    width: calc(75% - 6px);
    height: calc(100% - (var(--tabsHeight) * 2) - 10px);
    vertical-align: top;
}

#textCont {
    width: calc(93% - 6px);
    display: inline-block;
    height: 100%;
}

#textInput {
    display: inline-block;
    width: calc(100% - 20px);
    /* height: calc(100% - 40px); */
    height: 100%;
    background-color: var(--main-color);
    transition: .2s;
    padding-left: 0;
    padding-right: 20px;
}

#inputText {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    font-size: 13px;
    font-family: "Monaco";
    z-index: 5;
    position: relative;
    white-space: nowrap;
    line-height: 20px;
}

#inputText::selection {
    background: #95b4c7;
}

#textInput.bright {
    background-color: var(--main-color-bright);
}

#blackLine {
    width: 100%;
    height: 19px;
    background-color: rgba(0,0,0,.4);
    position: relative;
    top: 19px;
    z-index: 4;
}

.tab {
    width: 100px;
    height: 90%;
    background-color: var(--main-color-dark);
    color: rgb(136, 136, 136);
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    position: relative;
    top: 10%;
    cursor: pointer;
}

.tab.focusTab {
    background-color: var(--main-color);
    color: rgb(163, 162, 162);
}

.focusTab.bright {
    color: rgb(177, 177, 177);
    background-color: var(--main-color-bright);
}

#numbers {
    width: 7%;
    display: inline-block;
    height: 90%;
    padding-top: 4.5%;
    vertical-align: top;

}

.number {
    width: 100%;
    height: 20px;
    text-align: center;
    color: grey;
    line-height: 25px;
}


/* FOR THE LEFTHAND COLUMN OF FILES */
/* ====================================== */
#leftCol {
    width: 25%;
    height: calc(100% - 20px);
    padding-top: 20px;
    display: inline-block;
    background-color: var(--main-color-dark);
}

.file, .folder {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 20px;
    color: rgb(167, 167, 167);
    padding: 3px;
    padding-left: 10px;
    line-height: 22px;
    cursor: pointer;
    font-size: 14px;
}

.cont {
    width: 100%;
    height: 100%;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 100%;
    /* background-color: white; */
    vertical-align: middle;
    background-image: url("../images/icons/fileSection/right-arrow.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 5px;
}

.folder > .cont.open > .arrow {
    background-image: url("../images/icons/fileSection/down-arrow.png");
}

.fileImage {
    display: inline-block;
    width: 30px;
    height: 100%;
    /* background-color: white; */
    vertical-align: middle;

    background-size: 17px;
    background-repeat: no-repeat;
}

.folder > .cont > .fileImage {
    background-image: url("../images/icons/fileSection/folder-closed.png");
}

.htmlFileIcon > .fileImage {
    background-image: url("../images/icons/fileSection/folder-closed.png");
}

.folder > .cont.open > .fileImage {
    background-image: url("../images/icons/fileSection/folder-open.png");
}

.fileText {
    display: inline-block;
    width: 50%;
    /* background-color: white; */
    vertical-align: middle;
    height: 100%;
}

.folderImg {
    padding-top: 2%;
    width: 18px;
    height: 18px;
}

.children {
    /* display: none; */
}