#topWelcome {
    height: calc(100vh - 110px);
}

input {
    all: unset;
    border: 4px solid rgb(235, 235, 235);
    text-align: left;
    padding-left: 30px;
    box-shadow: 6px 6px 0px grey;
    transition: .2s;
    height: 45px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.11);

}

#bumper {
    height: 40px;
    width: 100%;
    /* background-color: white; */
}

#email {
    width: 340px;
}

#email:focus {
    box-shadow: 9px 9px 0px rgb(67, 178, 252);
}

#contact {
    margin-top: 30px;
}

#firstName {
    margin-right: 30px;
    width: 140px;
    display: inline-block;
}

#firstName:focus {
    box-shadow: 9px 9px 0px rgb(67, 252, 113);
}

#lastName {
    width: 140px;
    display: inline-block;
}

#lastName:focus {
    box-shadow: 9px 9px 0px rgb(252, 95, 67);
}

textarea {
    all: unset;
    width: 350px;
    height: 110px;
    padding:15px;
    border: 4px solid rgb(235, 235, 235);
    box-shadow: 6px 6px 0px grey;
    background-color: rgba(255, 255, 255, 0.11);
    text-align: left;
    transition: .2s;
}

textarea:focus {
    box-shadow: 9px 9px 0px rgb(221, 67, 252);

}