@import "../fonts/inter/inter.css";

* {
	margin: 0;
	padding: 0;
}

:root {
	--main-color: black;
	--purple-one: rgb(198, 113, 255);
	--purple-two: rgb(218, 163, 255);
	--blue-one: rgb(45, 152, 252);
	--blue-two: rgb(116, 188, 255);
	--green-one: rgb(96, 255, 144);
	--green-two: rgb(166, 255, 193);

}

@font-face {
	font-family: "Soleil";
	font-weight:500;
	src: url("../fonts/soleil/Soleil-Bold.otf");
}

@font-face {
	font-family: "Soleil";
	font-weight:400;
	src: url("../fonts/soleil/Soleil-Book.otf");
}

@font-face {
	font-family: "Soleil";
	font-weight:300;
	src: url("../fonts/soleil/Soleil-Regular.otf");
}

@font-face {
	font-family: "Soleil";
	font-weight:200;
	src: url("../fonts/soleil/Soleil-Light.otf");
}


body {
	font-family: "Soleil";
}

h1 {
	font-size: 70px;
	padding-bottom: 20px;
}

a, a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
	color: inherit;  
}

p {
	font-weight: 200;
	/* font-style: oblique; */
	/* color: rgb(214, 214, 214); */
}

#navBar {
	width: calc(100% - 100px);
	height: 60px;
	background-color: black;
	color: white;
	padding-left: 100px;
}

.navSection {
	cursor: pointer;
    display: inline-block;
    line-height: 60px;
    transition: .2s;
    margin-right: 70px;
}

.navSection:hover {
	color: var(--blue-one);
}

#appBar:hover {
	color: var(--green-one);
}

#contactBar:hover {
	color: hsl(256, 100%, 76%);
}

#topWelcome {
	text-align: center;
	background-color: black;
	color: white;
	height: 300px;
	padding-top: 50px;
}

#buttonstrip {
	margin-top: 50px;
}

.mainButton {
	all: unset;
	width: 120px;
	height: 40px;
	border: 2px solid white;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 2px;
	cursor: pointer;
	transition: .2s;
}

.mainButton#getStarted {
	color: var(--blue-two);
	border-color: var(--blue-one);
}

.mainButton#getStarted:hover {
	background-color: var(--blue-one);
	color: black;
}

.mainButton#contribute {
	color: var(--green-two);
	border-color: var(--green-one);
}

.mainButton#contribute:hover {
	background-color: var(--green-one);
	color: black;
}

.mainButton#contact {
	color: var(--purple-two);
	border-color: var(--purple-one);
}

.mainButton#contact:hover {
	background-color: var(--purple-one);
	color: black;
}