@import "../fonts/inter/inter.css";

* {
	margin: 0;
	padding: 0;
}

:root {
	--main-color: black;
}

@font-face {
	font-family: "Soleil";
	font-weight:500;
	src: url("../fonts/soleil/Soleil-Bold.otf");
}

@font-face {
	font-family: "Soleil";
	font-weight:400;
	src: url("../fonts/soleil/Soleil-Book.otf");
}

@font-face {
	font-family: "Soleil";
	font-weight:300;
	src: url("../fonts/soleil/Soleil-Regular.otf");
}

@font-face {
	font-family: "Soleil";
	font-weight:200;
	src: url("../fonts/soleil/Soleil-Light.otf");
}


body {
	font-family: "Soleil";
}

h1 {
	font-size: 70px;
	padding-bottom: 20px;
}

a, a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
	color: inherit;  
}

p {
	font-weight: 200;
	/* font-style: oblique; */
	/* color: rgb(214, 214, 214); */
}

#navBar {
	width: calc(100% - 100px);
	height: 60px;
	background-color: black;
	color: white;
	padding-left: 100px;
}

.navSection {
	cursor: pointer;
	width: 100px;
	display: inline-block;
	line-height: 60px;
	transition: .2s;
}

.navSection:hover {
	color: hsl(212, 100%, 67%);
}

#topWelcome {
	text-align: center;
	background-color: black;
	color: white;
	height: 300px;
	padding-top: 50px;
}

#buttonstrip {
	margin-top: 50px;
}

.mainButton {
	all: unset;
	width: 130px;
	height: 40px;
	border: 2px solid white;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 2px;
	cursor: pointer;
	transition: .2s;
}

#getStarted {
	color: rgb(134, 184, 250);
	border-color: rgb(94, 164, 255);
}

#getStarted:hover {
	background-color: rgb(94, 164, 255);
	color: black;
}

#contribute {
	color: rgb(144, 253, 177);
	border-color: rgb(94, 255, 142);
}

#contribute:hover {
	background-color: rgb(94, 255, 142);
	color: black;
}
